[submodule "Backend DenariusData"]
    path = Backend DenariusData
    url = https://github.com/DenariusData/DenariusData-Back
[submodule "Frontend DenariusData"]
    path = Frontend DenariusData
    url = https://github.com/DenariusData/DenariusData-Front
